
    <footer class="bg-light py-3">
      <div class="text-center">
        <p class="text-muted">&copy; Shrawan Kumar 2023 | All rights reserved</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/shrawank22">LinkedIn</a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/shrawank22/">Instagram</a></li>
          <li class="list-inline-item"><a href="https://www.facebook.com/shrawank22">Facebook</a></li>
        </ul>
      </div>       
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="/js/scripts.js" async defer></script>
</body>
</html>