<%- include("partials/header")  %>

    <main class="container mt-5 content">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <section class="mb-5">
                    <h2 class="text-center">Key Features</h2>
                    <ul class="list-group">
                      <li class="list-group-item">Our password manager utilizes advanced encryption protocols and multi-factor authentication to keep your data safe.</li>
                      <li class="list-group-item">Data 2 </li>
                      <li class="list-group-item">Data 3 </li>
                      <li class="list-group-item">Data 4 </li>
                    </ul>
                </section>
            </div>
            <div class="col-md-6 col-sm-12">
                <section class="mt-5 mb-5 text-center">
                    <h5>What are you waiting for? Unleash the potential of secure password management and bid farewell to the perils of forgetfulness.</h5>
                    <a href="/contents" class="btn btn-primary">Get Started</a>
                </section>
            </div>
        </div>
      
      <section class="mb-5">
        <h2 class="text-center">What Our Users Say</h2>
        <blockquote class="blockquote text-center">
          <p class="mb-2">"This password manager is a game-changer! It's so convenient and secure. Highly recommended!"</p>
          <footer class="blockquote-footer">John Doe</footer>
        </blockquote>
        <blockquote class="blockquote text-center">
            <p class="mb-2">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, ipsam dolores. Doloremque praesentium cumque blanditiis similique! Adipisci eveniet iste aliquam aliquid natus assumenda maiores. Ratione dolores molestiae possimus tenetur voluptatem!</p>
            <footer class="blockquote-footer">Shrawan K.</footer>
          </blockquote>
          <blockquote class="blockquote text-center">
            <p class="mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, tempore beatae officiis dolor iusto numquam incidunt, cupiditate culpa natus sapiente dolorem aspernatur laborum id reiciendis quidem quam, ex itaque rerum.</p>
            <footer class="blockquote-footer">John Doe</footer>
          </blockquote>
      </section>
    </main>

<%- include("partials/footer")  %>
